:root {
  --bg-color: #F8F4F0;
  --title-color: #000201;
  --text-color: rgba(0, 2, 1, 0.6);
  --link-color-active: #000201;
  --link-color: rgba(0, 2, 1, 0.4);
  --text-color-accent: #D3902A;
  --tabs-border: rgba(0, 0, 0, 0.15);
}

.dark-mode {
  --bg-color: #000201;
  --title-color: #FFFCF5;
  --text-color: rgba(255, 252, 245, 0.8);
  --link-color-active: #FFFCF5;
  --link-color: rgba(255, 252, 245, 0.3);
  --tabs-border: rgba(255, 252, 245, 0.15);
}


.body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.8px;
  color: var(--title-color);
}

.overflow-hidden{
  overflow: hidden;
}