$screen-1440: "(min-width: 1440px)";
$screen-1280: "(min-width: 1280px)";
$screen-1024: "(min-width: 1024px)";
$screen-768: "(min-width: 768px)";
$screen-500: "(min-width: 500px)";
$screen-430: "(min-width: 430px)";